@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face { /*perintah untuk memanggil font eksternal*/
    font-family: 'Kollektif'; /*memberikan nama bebas untuk font*/
    src: url('../../assets/font/kollektif/Kollektif.ttf');/*memanggil file font eksternalnya di folder nexa*/
}

body{
    font-family: Montserrat, sans-serif;
}
/* .form-control{
    border: none;
} */

.bg-gradient-blue-to-dark-blue{
    /* z-index: -15; */
    background: url("../../images/bg-gradient-blue-to-dark-blue.png");
}
.bg-header-blue{
    width: 100%;
    height: 100%;
    /* position: absolute; */
}
.image-header{
    overflow-x: hidden;
    position: relative;

}
.icon-logo{
    width: 80px;
    height: 68px;
}
.toogle-menu{
    width: 44px;
    height: 44px;
}

.header-landing-page{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 822px;
}

img.wafe{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    background-repeat: no-repeat;
}

.wafe-blue-right-1 img{
    position: absolute;
    top: -30px;
    right: 0;
    width: 705px;
    height: 900px;
}
.wafe-blue-left-1 img{
    position: absolute;
    top: -30px;
    right: 705px;
    width: 705px;
    height: 900px;
}
.landing-page-section{
    height: 100vh;
    width: 100%;
}
.hero-section{
    height: 988px;
}
.padding-banner{
    padding: 48px 0 48px 48px;
}
.img-hero{
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
}
.service-section{
    height: 100%;
    padding-bottom: 121px;
}
.team-section{
    height: 100%;
    padding-bottom: 244px;
}
.img-team{
    width: 450px;
    height: 500px;
    border-radius: 24px;
}

.banner{
    width: 100%;
    height: 302px;
    border-radius: 16px;
}

.banner-section{
    padding-bottom: 146px;
}
/* Start Our Work */
.our-work{
    padding-top: 146px;
    font-size: 50px;
    color: #fff;
}
.img-phone{
    width: 380px;
    height: 420px;
    margin-left: 15px;
}
.circle1-work{
    width: 420px;
    height: 420px;
    background: #FFC300;
    border-radius: 240px;
    margin-top: 80px;
}
.circle2-work{
    width: 420px;
    height: 420px;
    background: #6859DE;
    border-radius: 240px;
    margin-top: 80px;
}
.circle3-work{
    width: 420px;
    height: 420px;
    background: #E84045;
    border-radius: 240px;
    margin-top: 80px;
}
.img-our-work{
    margin-top: 39px;
    margin-left: 130px;
    margin-right: 131px;
    margin-bottom: 41px;
}
.title-desc-our-work{
    margin-top: 90px;
    font-weight: bold;
    font-size: 45px;
    color: #fff;
}
.title2-desc-our-work{
    font-size: 22px;
    margin-top: 17px;
    color: #fff;
}
.desc-our-work{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #C4C4C4;
    margin-top: 24px;
    text-align: justify;
}
.find-more{
    margin-top: 40px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    /* border-bottom: 1px solid #fff; */
}
.border-find{
    margin-top: 5px;
    width: 135px;
    position: absolute;
    border: 1px solid #FFFFFF;
}
/* End Our Work */

/* Start Insights*/
.insights{
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 80px;
}
.imamge-insights{
    width: 100%;
    height: 450px;
}
.img-insights{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.title-insights{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-top: 40px;
    color: #FFFFFF;
}
.emoji-hand{
    width: 24px;
    height: 24px;
}
.emoji-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 9.5px;
    margin-right: 34px;
    color: #E8E7E7;
}
/* End Insights*/

/* Start Footer*/
footer{
    margin-top: 658px;
    background: #1A1A1A;
    width: auto;
    height: auto;
    color: #fff;
}
.title-footer{
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 110%;
    padding-top: 80px;
    padding-left: 165px;
}
.email-footer{
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    text-decoration-line: underline;
    padding-top: 40px;
    padding-left: 165px;
}
.address-footer{
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    width: 400px;
    line-height: 140%;
    padding-top: 80px;
    padding-left: 165px;
    padding-bottom: 124px;
}
.menu-footer{
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-decoration-line: underline;
    padding-top: 80px;
}
/* End Footer*/


/* Start Case Study Page */
.title-study-page{
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 108px;
    line-height: 110%;
    text-align: center;
    color: #1A1A1A;
}
.rectangle{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
}
.rectangle img{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-12%);
}

.img-case-study-solo{
    position: relative;
    margin-top: -801px;
    right: 25px;
    width: auto;
    height: auto;
    /* min-height: 661px; */
    z-index: 100;
}
.title-project{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    padding-top: 32px;
    padding-bottom: 8px;
    color: #FFFFFF;
}
/* End Case Study Page */


/* Start Case Study Solo */
.title-header-solo{
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 108px;
    line-height: 110%;
    color: #FFFFFF;
}
.text-label{
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #C4C4C4;
}
.client-name{
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 12px;
}
.img-maps{
    padding-top: 351px;
    position: absolute;
    width: 540px;
    height: auto;
}
.title-design{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;font-feature-settings: 'liga' off;
    color: #FFFFFF;
    padding-top: 95px;
}
/* End Case Study Solo */

/* Start Insights Page */
.title-insights-page{
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;

}
.desc-insights{
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'liga' off;
    color: #E8E7E7;
}
.date-insights{
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    float: right;
}
.read-more-insights{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    text-transform: lowercase;
    color: #FFFFFF;
    padding-top: 140px;
}
.header-white{
    position: absolute;
    width: 1349px;
    height: 124px;
    background: #FFFFFF;
}
.title1-detail-insights{
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #202020;
    padding-top: 80px;
    margin-bottom: 55px;
}
.card-detail-insights{
    background: #fff;
}
.creator-name{
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #202020;
    padding-top: 24px;
}
.created-at-detail{
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #202020;
    padding-top: 24px;
}
.line-detail{
    border-bottom: 1px solid #E8E7E7;
    width: 695px;
}
.img-capabilities{
    width: 403px;
    height: 538px;
}
.desc-detail-insights{
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #718096;
}
.title2-detail-insights{
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #202020;
    margin-left: 65px;
}
.title3-detail-insights{
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #202020;
}
.title4-detail-insights{
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
    padding-top: 16px;
}
.title5-detail-insights{
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #202020;
}
.date-detail-insights{
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #202020;
    padding-top: 16px;
    margin-left: 20px;
}
/* End Insights Page */

/* Start Careers Page */
.title-header-careers{
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 108px;
    line-height: 110%;
    text-align: center;
    color: #1A1A1A;
}
.text-label-careers{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #C4C4C4;
}
.text-date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}
.desc-careers{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.title-careers{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    color: #FFFFFF;
}
.text-departements{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    margin-bottom: 64px;
}
.line-vertical{
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #E8E7E7;
    height: 1000px;
}
.text-company{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}
/* End Careers Page */

/* Start Privacy Policy Page */
.title-header-privacy-policy{
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 108px;
    line-height: 110%;
    text-align: center;
    color: #1A1A1A;
    padding-top: 112px;
}
.updated-at-privacy{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #1A1A1A;
    padding-top: 112px;
    margin-left: 65px;
}
.title-desc-privacy{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #2D3748;
    margin-left: 66px;
}
.desc-privacy{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #b1b1b1;
    padding-top: 15px;
    margin-left: 66px;
    margin-right: 66px;
}
/* End Privacy Policy Page */

/* Start Terms and Conditions */
.title-header-terms{
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 108px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 112px;
}
/* End Terms and Conditions */

.form-input{
    width: 100%;
    display: block;
    padding: 30px;
}

/* input checkbox */
.checkbox{
    display: none;
}
.form-checkbox span{
    border-radius: 2px;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.form-checkbox label{
    height: 16px;
    display: block;
    position: relative;
}

[type=checkbox]:checked + .span-checkbox:before {
    /* color: white; */
    content: '\2714';
    position: absolute;
    top: 0;
    left: 5px;
}
/* input checkbox */

.form-textarea{
    width: 100%;
    height: 280px;
    /* background: #0F0A33; */
    /* border: solid 1px white; */
    padding: 30px;
    border-radius: 2px;
}

/* Style the links inside the navigation bar */
.tabs a {
    color: #2D1E99;
    text-align: center;
    padding: 16px 0;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.tabs a:hover {
    border-bottom: 2px solid #2D1E99;
}

.tabs a.active {
    border-bottom: 2px solid #2D1E99;
}

.list ul li{
    margin-bottom: 10px;
}

.menu {
    display: none;
    margin-top: 165px;
    position: absolute;
    z-index: 100;
    width: 100%;
}

.header{
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

.menu.active {
    right: 0 !important;
}

.navbar-our-process{
    position: fixed;
    box-sizing: border-box;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-our-proccess{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 900px;
}
.circle-our-proccess{
    position: absolute;
    width: 50%;
    top: 95px;
    right: 83px;
}
img.wafe.our-proccess{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.parent-menu{
    position: fixed;
    box-sizing: border-box;
    left: 0;
    right: 0;
    z-index: 100;
}

#video {
    /*position: fixed;*/
    /*min-height: 100%;*/
    /*min-width: 1024px;*/
    /*width: 100%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*height: 100vh;*/
}

.floating-action{
    cursor: pointer;
    color: white;
    background: #2D1E99;
    position: absolute;
    right: 28px;
    bottom: 22px;
    z-index: 200;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.floating-action img{
    top: 46%;
    height: 20px;
    width: 20px;
    position: relative;
    transform: translateY(-50%);
}
.btn-collapse:hover{
    text-decoration: none;
}
