/* font family */

.font-kollektif {
    font-family: 'Kollektif', sans-serif;
}

/* font weight */
.font-weight-700{
    font-weight: 700;
}

.font-weight-500{
    font-weight: 500;
}

/* font size */
.font-size-16{
    font-size: 16px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-22{
    font-size: 22px;
}
.font-size-28{
    font-size: 28px;
}
.font-size-40{
    font-size: 40px;
}
.font-size-45{
    font-size: 45px;
}
.font-size-50{
    font-size: 50px;
}
.font-size-108{
    font-size: 108px;
}

/* border */
.border-1-white{
    border: 1px solid #FFFFFF;
}

/* line height */
.line-height-0{
    line-height: 0px;
}
.line-height-19{
    line-height: 19px;
}
.line-height-40{
    line-height: 40px;
}

/* margin */

.margin-x-196{
    margin: 0 196px;
}
.margin-bottom-8 {
    margin-bottom: 8px;
}
.margin-bottom-16 {
    margin-bottom: 16px;
}
.margin-bottom-24 {
    margin-bottom: 24px;
}
.margin-bottom-25 {
    margin-bottom: 25px;
}
.margin-bottom-32 {
    margin-bottom: 32px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-bottom-56 {
    margin-bottom: 56px;
}
.margin-bottom-70 {
    margin-bottom: 70px;
}
.margin-bottom-81 {
    margin-bottom: 81px;
}
.margin-bottom-112 {
    margin-bottom: 112px;
}
.margin-bottom-136 {
    margin-bottom: 136px;
}
.margin-bottom-144 {
    margin-bottom: 144px;
}
.margin-bottom-178 {
    margin-bottom: 178px !important;
}
.margin-bottom-192 {
    margin-bottom: 192px !important;
}

.margin-right-66 {
    margin-right: 66px;
}
.margin-right-24 {
    margin-right: 24px;
}
.margin-left-16 {
    margin-left: 16px;
}
.margin-left-48 {
    margin-left: 48px;
}

.margin-top-70{
    margin-top: 70px;
}


/* padding */
.padding-top-40{
    padding-top: 40px;
}
.padding-top-80{
    padding-top: 80px;
}
.padding-48{
    padding: 48px;
}
.padding-top-32{
    padding-top: 32px;
}
.padding-top-80{
    padding-top: 80px;
}
.padding-top-84{
    padding-top: 84px;
}
.padding-top-120{
    padding-top: 120px;
}
.padding-top-222{
    padding-top: 222px;
}
.padding-top-240{
    padding-top: 240px;
}
.padding-bottom-142{
    padding-bottom: 142px;
}

/* container main */
.container-main{
    margin: 0 165px;
}

/* background */
.bg-dark-blue{
    background: #0F0A33;
}
.bg-purple{
    background: #6859DE;
}
.bg-yellow{
    background: #FFC300;
}

/* color text */
.text-grey{
    color: #C4C4C4;
}
.text-black{
    color: black;
}

/* width */
.width-240{
    width: 240px;
}
.width-450{
    width: 450px;
}
.width-569{
    width: 569px;
}
.width-475{
    width: 475px;
}

/* height */
.height-62{
    height: 62px;
}
.height-64{
    height: 64px;
}
.height-72{
    height: 72px;
}

.height-200{
    height: 200px;
}
.height-210{
    height: 210px;
}
.heigth-1866{
    height: 1866px;
}